<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ND Shop</title>
  <link rel="stylesheet" href="Css/style.css">
  <link rel="stylesheet" href="Js/script.js">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <!-- ============================== Header starts ============================== -->
<header>
  <label for="toggler" class="bx bx-menu"></label>
  <input type="checkbox" id="toggler">
  <a href="" class="logo">N<span>D</span> Shop</a>
  <nav class="navbar">
      <ul>
          <li> <a href="">Trang chủ</a></li>
          <li>
              <a href="">Sản phẩm</a>
              <ul class="dropdown_menu">
                  <li><a href="">Nước hoa nam</a></li>
                  <li><a href="">Nước hoa nữ</a></li>
                  <li><a href="">Nước hoa chiết</a></li>
              </ul>
          </li>
          <li> <a href="">Giới thiệu</a></li>
          <li> <a href="#review">Đánh giá</a></li>
          <li> <a href="">Liên hệ</a></li>
      </ul>
  </nav>
  <div class="navbar-icons">
      <input type="text" placeholder="Tìm kiếm">
      <a href="" class="bx bx-cart"></a>
      <a href="" class="bx bx-user-circle"></a>
  </div>
</header>
<!-- ============================== Header ends ============================== -->
  <section class="page">
    <div class="links-page">
      <a href="">Trang chủ</a> /
      <p>Giới thiệu</p>
    </div>
  </section>
  <!-- ============================== About starts ============================== -->
  <section class="about" id="about">
    <div class="headline">
      <h3>Giới Thiệu</h3>
    </div>
    <div class="row">
      <div class="content">
        <h3>Câu chuyện về chúng tôi</h3>
        <p>ND Shop là một cửa hàng nước hoa nhỏ bắt nguồn từ sự yêu thích về mùi hương và mong muốn chia sẽ với tất cả mọi người về sở thích của mình, đồng thời tạo ra một nơi để mọi người dễ dàng tiếp cận những chai nước hoa nào mà bạn muốn. Và rồi cứ như thế, với mục tiêu lan tỏa hương thơm đến với mọi người mà ND Shop được lớn lên và được sự tin tưởng hơn mỗi ngày.</p>
        <p>Tại ND Shop chúng mình luôn đặt chất lượng và lòng tin của khách hàng lên hàng đầu. Chúng mình sẽ cam kết 100% hàng chính hãng. Những sản phẩm chúng mình tư vấn và giới thiệu đều là cá sản phẩm đã trực tiếp trải nghiệm để đưa ra lời khuyên thực tế để giúp khách hàng hài lòng.</p>
        <p>Nước hoa chiết có lẽ là một khái niệm vẫn còn mới lạ đối với nhiều người, nhưng đừng lo vì đã có chúng mình ở đây rồi!!
          Hãy cùng mình đọc và hiểu rõ hơn tất tần tật về "nước hoa chiết" trong bài viết dưới đây nhé </p>
        <p>1."Nước hoa Chiết” là gì ?</p>
        <p>"Nước hoa chiết" là nước hoa được CHIẾT TRỰC TIẾP từ chai NGUYÊN GỐC sang chai có DUNG TÍCH NHỎ HƠN.</p>
        <p>2- "Nước hoa chiết” bắt nguồn từ đâu ?</p>
        <p>Phong trào “nước hoa chiết” được hình thành bởi người dùng nước hoa cao cấp, có nhu cầu chia sẻ và thử nhiều mùi nên thường mua chai full size (100/200ml) về để chia bớt cho các bạn khác, qua đó tiết kiệm chi phí.</p>
        <p>4- Nước hoa chiết có ưu điểm gì?</p>
        <p>Ưu điểm mạnh nhất là về GIÁ! Vì chính sách giá của hãng khi bán các size vial 1-2ml, Mini 5ml luôn luôn rất cao so với dung tích. </p>
        <p>5- Phải mua ở đâu?</p>
        <p>Nếu muốn mua một chai nước hoa chiết thật từ nước hoa chính hãng, chỉ có thể tìm đến những nơi các bạn tin tưởng hoặc có uy tín kinh doanh nước hoa chiết thật mà thôi.</p>
        <p></p>
        <p></p>
      </div>
    </div>
  </section>
  <!-- ============================== About ends ============================== -->
  <!-- ============================== Footer starts ============================== -->
<footer class="footer">
  <div class="row">
      <div class="footer-col">
          <h4>Trang</h4>
          <ul>
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Sản phẩm</a></li>
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Liên hệ</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Hỗ trợ khách hàng</h4>
          <ul>
              <li><a href="#">Chính sách bảo mật</a></li>
              <li><a href="#">Chính sách vận chuyển</a></li>
              <li><a href="#">Chính sách đổi trả</a></li>
              <li><a href="#">Tình trạng đơn hàng</a></li>
              <li><a href="#">Hình thức thanh toán</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Hướng dẫn</h4>
          <ul>
              <li><a href="#">Hướng dẫn mua hàng</a></li>
              <li><a href="#">Hướng dẫn mua hàng</a></li>
              <li><a href="#">Hướng dẫn giao nhận</a></li>
              <li><a href="#">Điều khoản dịch vụ</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Kênh</h4>
          <div class="social-links">
              <a href="#"><i class='bx bxl-facebook' ></i></a>
              <a href="#"><i class="bx bxl-twitter"></i></a>
              <a href="#"><i class="bx bxl-instagram"></i></a>
              <a href="#"><i class="bx bxl-linkedin"></i></a>
          </div>
      </div>
  </div>
</footer>
<!-- ============================== Footer ends ============================== -->
</body>
</html>