<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Js/script.js">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- ============================== Header starts ============================== -->
<header>
    <label for="toggler" class="bx bx-menu"></label>
    <input type="checkbox" id="toggler">
    <a href="" class="logo">N<span>D</span> Shop</a>
    <nav class="navbar">
        <ul>
            <li> <a href="">Trang chủ</a></li>
            <li>
                <a href="">Sản phẩm</a>
                <ul class="dropdown_menu">
                    <li><a href="">Nước hoa nam</a></li>
                    <li><a href="">Nước hoa nữ</a></li>
                    <li><a href="">Nước hoa chiết</a></li>
                </ul>
            </li>
            <li> <a href="">Giới thiệu</a></li>
            <li> <a href="#review">Đánh giá</a></li>
            <li> <a href="">Liên hệ</a></li>
        </ul>
    </nav>
    <div class="navbar-icons">
        <input type="text" placeholder="Tìm kiếm">
        <a href="" class="bx bx-cart"></a>
        <a href="" class="bx bx-user-circle"></a>
    </div>
  </header>
  <!-- ============================== Header ends ============================== -->
  <!-- ============================== Trang Post ends ============================== -->
  <section class="page">
    <div class="links-page">
      <a href="">Trang chủ</a> /
      <p>Tin tức - Bài viết</p>
    </div>
  </section>
  <section class="posts" id="posts">
    <div class="post-wrapper">
        <div class="headline">
            <h3>Tin tức - Bài viết</h3>
        </div>
        <div class="post-container">
            <h3 class="post_title">Ariana Grande Cloud 2.0 Intense EDP</h3>
            <div class="post-info">
                <span>27/10/2023</span>
                <p>Tác giả: Hồ Văn Dân</p>
            </div>
            <div class="post-content">
                S o l i n o t e s là thương hiệu nước hoa đến từ Pháp, được tạo ra bởi công ty C o r a n i a có gần 100 năm kinh nghiệm chuyên sản xuất nước hoa cho các thương hiệu lớn trên thế giới như D i o r, G i v e n c h y, N u x e,... Concept của S o l i n o t e s đơn giản, họ mong muốn tạo ra một chai nước hoa có thể mang đến cho bạn một góc nhìn mới với 100% năng lượng tích cực, 100% sáng tạo, 100% vui vẻ.
            </div>
            <div class="post-img">
                <img src="../view/images/post2.jpg" alt="">
            </div>
            <div class="post-content">
                    Một bó hoa trắng tinh tế, Solinotes đáp ứng mong muốn của bạn về sự nhẹ nhàng cho một khoảnh khắc khỏe mạnh không thể cưỡng lại!
                     Solinotes được lấy cảm hứng từ Hoa nhài duyên dáng để tưởng tượng ra một hương thơm tinh tế với sức mạnh tái cân bằng.
                     Sắc thái của cam Bergamot và gia vị trắng đưa bạn vào một bản hòa âm ngọt ngào.
                     Nó cho thấy sự tinh khiết đặc biệt của Jasmine Solinotes Eau de Parfum. Hương thơm hoa và phấn rất tinh tế của nó làm dịu căng thẳng và tăng cường sự tự tin.
                     Hương thơm rực rỡ của Gỗ tuyết tùng,
                     Hổ phách và Xạ hương tỏa ra những tông màu đẹp đẽ và dễ chịu.
                     Liệu pháp sắc đẹp và hạnh phúc!
            </div>
            <div class="post-contact">
                <form action="" method="">
                  <label for="name">Họ và tên <span>*</span></label>
                  <input type="text" id="name" name="name">
              
                  <label for="email">Email <span>*</span></label>
                  <input type="text" id="email" name="email">
              
              
                  <label for="subject">Nội dung <span>*</span></label>
                  <textarea id="subject" name="subject" style="height:200px"></textarea>
              
                  <input type="submit" name="guinoidung" value="Bình luận">
                </form>
              </div>
        </div>
    </div>
    <div class="post-list">
        <div class="post-list_title">
            <h3>Tin tức khác</h3>
        </div>
        <ul>
            <li>
                <div class="post-list_img">
                    <img src="../view/images/post1.jpg" alt="">
                </div>
                <div class="post-list_content">
                     <h3>Ariana Grande Cloud 2.0 Intense EDP - Phiên bản Intense của Cloud</h3>
                     <span>26/10/2004</span>
                </div>
            </li>
            <li>
                <div class="post-list_img">
                    <img src="../view/images/post1.jpg" alt="">
                </div>
                <div class="post-list_content">
                     <h3>Ariana Grande Cloud 2.0 Intense EDP - Phiên bản Intense của Cloud</h3>
                     <span>26/10/2004</span>
                </div>
            </li>
            <li>
                <div class="post-list_img">
                    <img src="../view/images/post1.jpg" alt="">
                </div>
                <div class="post-list_content">
                     <h3>Ariana Grande Cloud 2.0 Intense EDP - Phiên bản Intense của Cloud</h3>
                     <span>26/10/2004</span>
                </div>
            </li>
            <li>
                <div class="post-list_img">
                    <img src="../view/images/post1.jpg" alt="">
                </div>
                <div class="post-list_content">
                     <h3>Ariana Grande Cloud 2.0 Intense EDP - Phiên bản Intense của Cloud</h3>
                     <span>26/10/2004</span>
                </div>
            </li>
        </ul>
    </div>
    
  </section>
    <!-- ============================== Footer starts ============================== -->
<footer class="footer">
    <div class="row">
        <div class="footer-col">
            <h4>Trang</h4>
            <ul>
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Sản phẩm</a></li>
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Liên hệ</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Hỗ trợ khách hàng</h4>
            <ul>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Chính sách vận chuyển</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
                <li><a href="#">Tình trạng đơn hàng</a></li>
                <li><a href="#">Hình thức thanh toán</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Hướng dẫn</h4>
            <ul>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Hướng dẫn giao nhận</a></li>
                <li><a href="#">Điều khoản dịch vụ</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Kênh</h4>
            <div class="social-links">
                <a href="#"><i class='bx bxl-facebook' ></i></a>
                <a href="#"><i class="bx bxl-twitter"></i></a>
                <a href="#"><i class="bx bxl-instagram"></i></a>
                <a href="#"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </div>
  </footer>
  <!-- ============================== Footer ends ============================== -->
</body>
</html>