<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ND Shop</title>
  <link rel="stylesheet" href="Css/style.css">
    <link rel="stylesheet" href="Js/script.js">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <!-- ============================== Header starts ============================== -->
<header>
  <label for="toggler" class="bx bx-menu"></label>
  <input type="checkbox" id="toggler">
  <a href="" class="logo">N<span>D</span> Shop</a>
  <nav class="navbar">
      <ul>
          <li> <a href="">Trang chủ</a></li>
          <li>
              <a href="">Sản phẩm</a>
              <ul class="dropdown_menu">
                  <li><a href="">Nước hoa nam</a></li>
                  <li><a href="">Nước hoa nữ</a></li>
                  <li><a href="">Nước hoa chiết</a></li>
              </ul>
          </li>
          <li> <a href="">Giới thiệu</a></li>
          <li> <a href="#review">Đánh giá</a></li>
          <li> <a href="">Liên hệ</a></li>
      </ul>
  </nav>
  <div class="navbar-icons">
      <input type="text" placeholder="Tìm kiếm">
      <a href="" class="bx bx-cart"></a>
      <a href="" class="bx bx-user-circle"></a>
  </div>
</header>
<!-- ============================== Header ends ============================== -->
  <section class="page">
    <div class="links-page">
      <a href="">Trang chủ</a> /
      <p>Đăng nhập</p>
    </div>
  </section>
  <!-- ============================== Login starts ============================== -->
  <section class="register" id="register">
    <div class="headline">
      <h3>Đăng nhập tài khoản</h3>
    </div>
    <div class="form">
      <form action="" class="form-container">
        <label for="email">Email:</label>
        <input type="text" id="email" placeholder="">
        <label for="pass">Mật khẩu:</label>
        <input type="text" id="pass" placeholder="">
        <div class="form-content">
          <input type="submit" value="Đăng nhập">
          <p>Nếu bạn chưa có tài khoản, vui lòng đăng ký <a href="?quanly=register">tại đây</a></p>
        </div>
      </form>
    </div>
  </section>
  <!-- ============================== Login ends ============================== -->
  <!-- ============================== Footer starts ============================== -->
<footer class="footer">
  <div class="row">
      <div class="footer-col">
          <h4>Trang</h4>
          <ul>
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Sản phẩm</a></li>
              <li><a href="#">Giới thiệu</a></li>
              <li><a href="#">Liên hệ</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Hỗ trợ khách hàng</h4>
          <ul>
              <li><a href="#">Chính sách bảo mật</a></li>
              <li><a href="#">Chính sách vận chuyển</a></li>
              <li><a href="#">Chính sách đổi trả</a></li>
              <li><a href="#">Tình trạng đơn hàng</a></li>
              <li><a href="#">Hình thức thanh toán</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Hướng dẫn</h4>
          <ul>
              <li><a href="#">Hướng dẫn mua hàng</a></li>
              <li><a href="#">Hướng dẫn mua hàng</a></li>
              <li><a href="#">Hướng dẫn giao nhận</a></li>
              <li><a href="#">Điều khoản dịch vụ</a></li>
          </ul>
      </div>
      <div class="footer-col">
          <h4>Kênh</h4>
          <div class="social-links">
              <a href="#"><i class='bx bxl-facebook' ></i></a>
              <a href="#"><i class="bx bxl-twitter"></i></a>
              <a href="#"><i class="bx bxl-instagram"></i></a>
              <a href="#"><i class="bx bxl-linkedin"></i></a>
          </div>
      </div>
  </div>
</footer>
<!-- ============================== Footer ends ============================== -->
</body>
</html>